nav{
    // border: 1px solid red;
    z-index: 999;
    position: fixed;
    .btn-hamburger{
        height: 100px;
        width: 100px;
        border: 1px solid red;
        position: absolute;
        display: flex;
    }
}