@import '../base/colors';

.city-section{
  display: flex;
  border: 30px solid $main-color;
  background: url('../img/city-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

  @media(max-width: 400px){
    padding: 120px 0;
    height: auto;
  }

  @media(max-height: 500px){
    padding: 120px 0;
    height: auto;
  }

  article{
    width: 50%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    @media(max-width: 1200px){
      width: 70%;
    }

    @media(max-width: 850px){
      width: 100%;
      padding: 0px;
    }

    .city-box{
      width: 510px;
      padding: 20px;

      @media(max-width: 620px){
        width: 100%;
      }

      &.align-right{
        text-align: right;
      }

      .section-title{
        margin: 0 0 50px 0;

        @media(max-width: 620px){
          text-align: center;
          margin: 30px 0;
        }
      }

      .section-sub-title{
        margin: 0 0 50px 0;

        @media(max-width: 620px){
          text-align: center;
          margin: 30px 0;
        }
      }
    }
  }
  .city-image{
    background: url('../img/city-bike.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    animation: changeInvert 10s infinite;

    @keyframes changeInvert{
      0%{
        filter: hue-rotate(480deg)
      }
      100%{
        filter: hue-rotate(100deg)
      }
    }
    
    @media(max-width: 1200px){
      width: 30%;
    }

    @media(max-width: 850px){
      display: none;
    }
  }

  .lang-box{
    position: absolute;
    top: 35px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 15px;

    .lang-btn{
      display: block;
      margin: 0 20px;
    }
  }

  .arrow-bottom{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 27px;
    height: 20px;
    animation: moveDown 2s infinite;

    @keyframes moveDown{
      0%{
        transform: translateX(-50%) translateY(0);
      }
      50%{
        transform: translateX(-50%) translateY(30px);
      }
      100%{
        transform: translateX(-50%) translateY(0);        
      }
    }

    &:after, &:before{
      content: '';
      left: 3px;
      position: absolute;
      background: $main-color;
      width: 22px;
      height: 5px;
    }
    
    &:before{
      transform: rotate(-50deg);
      transform-origin: 100% 0;
    }
    
    &:after{
      transform: rotate(50deg);
      transform-origin: 0% 0%;
    }      
  }
}